<!DOCTYPE html>
<!--
 Copyright (c) 2014, 2021, Oracle and/or its affiliates.
 Licensed under The Universal Permissive License (UPL), Version 1.0
 as shown at https://oss.oracle.com/licenses/upl/
 -->

<!-- ************************ IMPORTANT INFORMATION ************************************
  This web basic template is provided as an example of how to configure
  a JET web application.  It contains the Oracle JET framework and a default
  requireJS configuration file to show how JET can be setup in a common application.
  This project template can be used in conjunction with demo code from the JET
  website to test JET component behavior and interactions.

  Any CSS styling with the prefix "demo-" is for demonstration only and is not
  provided as part of the JET framework.

  Please see the demos under Cookbook/Patterns/App Shell: Web and the CSS documentation
  under Support/API Docs/Non-Component Styling on the JET website for more information on how to use
  the best practice patterns shown in this template.

  Aria Landmark role attributes are added to the different sections of the application
  for accessibility compliance. If you change the type of content for a specific
  section from what is defined, you should also change the role value for that
  section to represent the appropriate content type.
  ***************************** IMPORTANT INFORMATION ************************************ -->
<html lang="en-us">

<head>
  <title>Oracle JET Starter Template - Web Basic</title>

  <meta charset="UTF-8">
  <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1">
  <link rel="icon" href="css/images/favicon.ico" type="image/x-icon" />

  <!-- This is the main css file for the default theme -->
		<!-- injector:theme -->
		<!-- endinjector -->
  <!-- This contains icon fonts used by the starter template -->
  <link rel="stylesheet" id="uxiconFont" href="https://static.oracle.com/cdn/fnd/gallery/2107.3.0/images/iconfont/ojuxIconFont.min.css">

  <!-- This is where you would add any app specific styling -->
  <link rel="stylesheet" href="css/app.css" type="text/css" />

</head>

<body class="oj-web-applayout-body">
  <div id="globalBody" class="oj-web-applayout-page">
    <!--
         ** Oracle JET V11.1.0 web application header pattern.
         ** Please see the demos under Cookbook/Patterns/App Shell: Web
         ** and the CSS documentation under Support/API Docs/Non-Component Styling
         ** on the JET website for more information on how to use this pattern.
      -->
    <header role="banner" class="oj-web-applayout-header">
      <div class="oj-web-applayout-max-width oj-flex-bar oj-sm-align-items-center">
        <div class="oj-flex-bar-middle oj-sm-align-items-baseline">
          <span role="img" class="oj-icon demo-oracle-icon" title="Oracle Logo" alt="Oracle Logo"></span>
          <h1 class="oj-sm-only-hide oj-web-applayout-header-title" title="Application Name">
            <oj-bind-text value="[[appName]]"></oj-bind-text>
          </h1>
        </div>
        <div class="oj-flex-bar-end">
          <!-- Responsive Toolbar -->
          <oj-toolbar>
            <oj-menu-button id="userMenu" display="[[smScreen() ? 'icons' : 'all']]" chroming="borderless">
              <span>
                <oj-bind-text value="[[userLogin]]"></oj-bind-text>
              </span>
              <span slot="endIcon"
                :class="[[{'oj-icon demo-appheader-avatar': smScreen(), 'oj-component-icon oj-button-menu-dropdown-icon': !smScreen()}]]"></span>
              <oj-menu id="menu1" slot="menu">
                <oj-option id="pref" value="pref">Preferences</oj-option>
                <oj-option id="help" value="help">Help</oj-option>
                <oj-option id="about" value="about">About</oj-option>
                <oj-option id="out" value="out">Sign Out</oj-option>
              </oj-menu>
            </oj-menu-button>
          </oj-toolbar>
        </div>
      </div>
    </header>
    <div role="main" class="oj-web-applayout-max-width oj-web-applayout-content">
      <!-- Place your page content here -->

      <div id="greeting">
        <oj-label for='txtGreet'>Enter Username</oj-label>
        <oj-input-text id="txtGreet" value="{{userName}}"></oj-input-text><br>
        <span><oj-bind-text value="[[greetingMessage]]"></oj-bind-text></span>
        <oj-button on-oj-action="[[processGreeting]]">Process Greeting</oj-button>
      </div>



    </div>
    <footer class="oj-web-applayout-footer" role="contentinfo">
      <div class="oj-web-applayout-footer-item oj-web-applayout-max-width">
        <ul>
          <oj-bind-for-each data="[[footerLinks]]">
            <template>
              <li>
                <a :id="[[$current.data.linkId]]" :href="[[$current.data.linkTarget]]">
                  <oj-bind-text value="[[$current.data.name]]"></oj-bind-text>
                </a>
              </li>
            </template>
          </oj-bind-for-each>
        </ul>
      </div>
      <div class="oj-web-applayout-footer-item oj-web-applayout-max-width oj-text-secondary-color oj-text-sm">
        Copyright © 2014, 2021 Oracle and/or its affiliates All rights reserved.
      </div>
    </footer>
  </div>
  <!-- This injects script tags for the main javascript files -->
		<!-- injector:scripts -->
		<!-- endinjector -->
</body>

</html>
